.contextmenu {
  z-index: 100000;
  margin: 0;
  font-size: 1.5vh;
  border-style: solid;
  background-color: #232528;
  color: white;
  border-radius: 2px;
  border-color: #363636;
  border-width: 2px;
  position: fixed;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(46, 46, 46, 0.5);
  padding: 10px 0;
  user-select: none;
  min-width: 20vw;
  font-size: large;
}
