.contextmenu {
  z-index: 100000;
  margin: 0;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  font-size: 1.5vh;
  border-style: solid;
  background-color: #232528;
  color: white;
  border-radius: 2px;
  border-color: #363636;
  border-width: 2px;
  position: absolute;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(46, 46, 46, 0.5);
  padding: 10px 0;
  user-select: none;
  min-width: 20vw;
  font-size: large;
}

.contextmenu > li {
  display: table-row;
  min-width: 14.6vw;
  padding: 0.8vh 0.8vw 0.8vh 0.8vw;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  border-radius: 5px;
}

.contextmenu > li > p {
  padding: none;
  color: white;
  margin: none;
  padding: 10px 30px 10px 15px;
  vertical-align: middle;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  width: 45%;
}

.contextmenu > li > svg {
  padding: auto;
  margin-right: 10px;
  -webkit-user-drag: none;
  vertical-align: middle;
}

.contextmenu_normal {
  &:hover {
    background-color: rgb(95, 106, 110);
  }
}

.contextmenu_delete {
  color: #ff504d;
  &:hover {
    background-color: #ff504d;
    color: white;
  }
}
