.menu_element {
  display: table-row;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  z-index: 100000;
  margin: 0;
  font-size: 1.5vh;
  border-style: solid;
  color: white;
  border-radius: 2px;
  border-color: #363636;
  border-width: 2px;
  position: absolute;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(46, 46, 46, 0.5);
  padding: 0;
  user-select: none;
  font-size: large;
}
