$darkerlight: #86aab5;

.auth {
  height: 100vh;
  overflow: hidden;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    border-radius: 5px;
    max-height: 700px;
    background: #3d3d3d;
    margin-top: 0px;
    padding: 6px 40px 0px 40px;

    p {
      padding: 0px;
      color: lightgray;
    }

    a {
      color: lightblue;
      &:hover {
        color: $darkerlight;
      }
    }

    h1 {
      color: white;
      margin-bottom: 15px;
    }

    .forgot_password {
      text-align: left;
      margin: 0px;
    }

    .singup_link {
      color: #696969;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    .auth_element_error {
      .auth_field {
        border: 2px solid #ff3b3b;
        &:focus {
          outline: none !important;
          border: 2px solid #ff3b3b;
        }
      }

      .data_text {
        color: #ff3b3b;
      }
    }

    .auth_field {
      border: none;
      height: 50px;
      width: 100%;
      padding: 18px 15px 15px 15px;
      margin-top: none;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: large;
      &:focus {
        outline: none !important;
        border: 2px solid lightblue;
      }
    }

    .data_text {
      color: darkgray;
      text-align: left;
      padding: 0px;
      margin: 16px 0px 8px 0px;
    }

    .auth_button {
      border: none;
      border-radius: 5px;
      margin-top: 40px;
      font-size: large;
      background-color: lightblue;
      width: 100%;
      height: 55px;
      &:hover {
        background-color: $darkerlight;
        cursor: pointer;
      }
    }
  }
}
