$darkerlight: #a7b4b9;

.auth {
	height: 100vh;
	overflow: hidden;
	background-color: #363a3f;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;

	.center {
		margin-left: auto;
		margin-right: auto;
		width: 640px;
		border-radius: 5px;
		max-height: 700px;
		background: #272727;
		margin-top: 0px;
		padding: 16px 36px 16px 36px;
		max-width: 90vw;
		min-height: 250px;
		vertical-align: middle;

		p {
			padding: 0px;
			color: lightgray;
			user-select: none;
		}

		a {
			color: #808b90;
			user-select: none;
			&:hover {
				color: $darkerlight;
			}
		}

		h1 {
			color: #ffffffe1;
			margin-bottom: 15px;
			user-select: none;
		}

		h3 {
			padding: 0px;
			color: lightgray;
			user-select: none;
			margin-top: 35px;
		}

		h2 {
			padding: 0px;
			color: lightgray;
			user-select: none;
			margin-top: 35px;
		}

		.forgot_password {
			text-align: left;
			margin: 0px;
		}

		// "#5f6a6e", "#808b90", "#6b7478", "#52595c"]

		.singup_link {
			color: #696969;
			margin-top: 15px;
			margin-bottom: 30px;
			user-select: none;
		}

		.auth_element_error {
			.auth_field {
				border: 2px solid #ff3b3b;
				&:focus {
					outline: none !important;
					border: 2px solid #ff3b3b;
				}
			}

			.data_text {
				color: #ff3b3b;
			}
		}

		.auth_field {
			border: none;
			height: 50px;
			width: 100%;
			padding: 18px 15px 15px 15px;
			margin-top: none;
			border-radius: 5px;
			margin-bottom: 10px;
			font-size: large;
			&:focus {
				outline: none !important;
				border: 2px solid $darkerlight;
			}
		}

		.data_text {
			user-select: none;
			color: darkgray;
			text-align: left;
			padding: 0px;
			margin: 16px 0px 8px 0px;
		}

		.auth_button {
			border: none;
			border-radius: 5px;
			margin-top: 40px;
			font-size: large;
			background-color: #5f6a6e;
			color: #ffffff;
			width: 100%;
			height: 55px;
			user-select: none;
			&:hover {
				background-color: #808b90;
				cursor: pointer;
			}
		}
	}
}
