.app {
  display: flex;
  background-color: #363a3f;
  flex: 1;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .full_chat_flexbox {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .chat_flexbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 0.5;
    box-shadow: 0px 0.1em inset #26282c;

    .chat {
      display: flex;
      flex-direction: column;
      flex: 1.5;
      background-color: #363a3f;
      height: 91%;
      height: calc(var(--vh, 1vh) * 91);
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: 0px 0.1em inset #26282c;
      padding-top: 0.5vh;
      position: relative;

      .chat_input_button {
        display: none;
      }

      .chat_typing_users {
        color: white;
        margin-bottom: 6px;
        margin-left: 24px;
      }

      .chat_no_typing_users {
        color: white;
        margin-bottom: 30px;
        margin-left: 24px;
      }

      .chat_input {
        color: lightgrey;
        color: lightgrey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        padding-bottom: 10px;
        margin: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-top: 1px solid gray;
        background-color: #474b53;
        font-size: large;

        @media (pointer: none), (pointer: coarse) {
          padding-left: 12px;
          margin-left: 10px;
        }

        .chat_input_icons {
          margin-top: 5px;
          cursor: pointer;
          margin-left: 10px;
          .chat_input_icon {
            margin-left: 10px;
            &:hover {
              color: white;
            }
          }
        }

        form {
          overflow-y: auto;
          overflow-x: hidden;
          flex: 1;

          ::-webkit-scrollbar-track {
            background: none;
          }

          ::-webkit-scrollbar-thumb {
            background: #2f3135;
          }

          textarea {
            white-space: pre-wrap;
            width: 100%;
            resize: none;
            padding: 15px;
            padding-top: 16px;
            padding-bottom: 4px;
            border: none;
            outline-width: 0;
            color: white;
            background: transparent;
            font-size: large;
            line-height: 20px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }

      .chat_messages {
        -ms-overflow-style: none;
        scrollbar-width: none;
        flex: 1;
        background-color: #363a3f;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .chat_file_uploading {
        background-color: #2f3135;
        margin-left: 60px;
        width: 40vw;
        height: 10vh;
        border-radius: 10px;
        margin-top: 5px;

        .chat_upload_icon {
          display: inline-block;
          width: 13%;
          height: 8vh;
          margin-top: 0.8vh;
        }

        .chat_upload_info {
          margin-top: 0.8vh;
          vertical-align: top;
          display: inline-block;
          width: 70%;
        }

        .chat_upload_progressbar {
          width: 100%;
        }

        .chat_upload_name {
          font-size: large;
          margin-top: 8px;
          margin-bottom: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .chat_jump {
        position: absolute;
        transform: translate(8%, -325%);
        bottom: 0;
        right: 0;
        height: 25px;
        margin-left: 85%;
        margin-right: 5%;
        width: 18vw;
        text-align: center;
        border-color: cyan;
        background-color: lightblue;
        border: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media (pointer: none), (pointer: coarse) {
          width: 32vw;
          margin-right: 32px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .chat_mobile_navbar {
      @media (pointer: none), (pointer: coarse) {
        position: absolute;
        right: 0;
        z-index: 100;
        width: 100%;
        transform: translate(85%, 0px);
      }

      .chat_messages {
        @media (pointer: none), (pointer: coarse) {
          overflow-y: hidden;
        }
      }
    }

    .chat_mobile_members {
      @media (pointer: none), (pointer: coarse) {
        position: absolute;
        left: 0;
        z-index: 100;
        width: 100%;
        transform: translate(-85%, 0px);
      }

      .chat_messages {
        @media (pointer: none), (pointer: coarse) {
          overflow-y: hidden;
        }
      }
    }
  }
}
