.screen_popup {
  pointer-events: all;
  z-index: 20;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.314);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .screen_popup_box {
    position: relative;
    max-width: 70ch;
    margin: 0 auto;
    margin-bottom: 20px;
    max-height: 90vh;
    height: auto;
    width: auto;
    top: 49%;
    transform: translateY(-50%);
    left: 0%;
    max-height: 100vh;
    background-color: #363a3f;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
  }
}
