.upload_file_media {
  max-width: 450px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.upload_file_icon {
  font-size: 100px;
  vertical-align: middle;
  display: inline-block;
}

.upload_file_name {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 20px;
  margin-right: 10px;
}

.popup_buttons {
  white-space: nowrap;
  text-align: right;
}

.popup_cancel {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.popup_input {
  color: lightgrey;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #474b53;
}
