.sidebar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 30px;
  padding-top: 20px;
  background-color: #2f3135;
  color: white;
  box-shadow: 0px -2px 20px #26282c;
  margin-bottom: 12px;

  &:hover {
    background-color: #35373b;
  }

  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
