.message {
  display: block;
  flex: 0.9;
  align-items: center;
  padding: 10px;
  margin: 12px;
  padding-left: 10px;
  color: white;
  background-color: #363a3f;

  .message_edit_text_event {
    color: rgb(132, 144, 148);
    cursor: pointer;
    &:hover {
      color: rgb(170, 179, 182);
    }
  }

  .message_edit_input {
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 20px;
    margin-bottom: 5px;

    margin-top: 0px;
    background-color: #474b53;
    font-size: large;

    .message_edit_input_button {
      display: none;
    }

    form {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;

      ::-webkit-scrollbar-track {
        background: none;
      }

      ::-webkit-scrollbar-thumb {
        background: #2f3135;
      }

      textarea {
        white-space: pre-wrap;
        width: 100%;
        resize: none;
        padding: 15px;
        padding-top: 16px;
        padding-bottom: 4px;
        border: none;
        outline-width: 0;
        color: white;
        background: transparent;
        font-size: large;
        line-height: 20px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  &:hover {
    background-color: #32363b;
  }
  h4 {
    font-size: large;
    margin-bottom: -0px;
  }

  .message_profilePicture {
    float: left;
    margin-right: 15px;
  }

  .message_info {
    margin-left: 20px;
    margin-right: 60px;
    p {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-left: 60px;
      margin-top: 2px;
      margin-bottom: 0px;
    }
  }

  .message_timestamp {
    color: gray;
    font-size: 12px;
    margin-left: 10px;
  }

  .message_content {
    padding: none;
    margin: none;
  }

  .message_image_text {
    margin-top: -10px;
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-left: 60px;
  }

  .message_embed {
    margin-top: 12px;
  }

  .message_image {
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 10px;
  }
}
