.navbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #2f3135;

  @media (pointer: none), (pointer: coarse) {
    flex: 1;
  }
}
