.upload_file {
  .upload_file_file {
    position: relative;
    line-height: 30px;
    text-align: center;
    padding-right: 5px;
    padding-top: 10px;
    &:hover {
      color: white;
    }
  }

  .upload_file_upload_file {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .upload_file_image {
    max-width: 450px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }

  .upload_file_icon {
    font-size: 100px;
    vertical-align: middle;
    display: inline-block;
  }

  .upload_file_name {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 20px;
    margin-right: 10px;
  }

  .popup_buttons {
    white-space: nowrap;
    text-align: right;
  }

  .popup_cancel {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .popup_upload {
    border-radius: 5px;
    background-color: #ff504d;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      background-color: #e84846;
    }
  }

  .popup_input {
    color: lightgrey;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #474b53;
  }
}
